* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.video-container {
    position: relative;
    width: 40%;
    max-width: 800px;
    aspect-ratio: 16/9;
    margin: 10px;
}

.video-container:nth-child(2) {
    margin-top: 1px; /* offset between containers */
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    clip-path: inset(0 0 9% 0); /* cropping from bottom */
}



.video-container .hover-text {
    position: absolute;
    bottom: 10px; /* Adjust to position text where you'd like */
    right: 10px;
    color: #5a5a5a;
    opacity: .8;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 5px;
    display: none; /* Hide text initially */
    z-index: 2; /* Ensure text is above the video */
}

.video-container:hover video {
    visibility: visible; /* Show the video when hovering */
}

.video-container:hover .hover-text {
    display: block; /* Show the text when hovering */
}